@font-face {
    font-family: "Brushtime";
    src: url("font/brushtime.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Edosz";
    src: url("font/edosz.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

p {
    color: #fff !important;
    padding-bottom: 0px;
    z-index: 200 !important;
}

body {
    background: #105284;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#rama1 {
    position: absolute;
    width: 240px !important;
    height: 246px !important;
    background-size: cover;
    background-image: url("img/rama1_out.svg");
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    z-index: -100;
}

#rama2 {
    position: absolute;
    width: 300px !important;
    height: 75px !important;
    background-size: cover;
    background-image: url("img/rama2_out.svg");
    background-repeat: no-repeat;
    right: 0px;
    top: 0;
    z-index: -100;
}

#rama3 {
    position: absolute;
    width: 100px !important;
    height: 200px !important;
    background-size: cover;
    background-image: url("img/rama3_out.svg");
    background-repeat: no-repeat;
    top: 100px;
    right: 0px;
    z-index: -100;
}

#rama4 {
    position: fixed;
    width: 198px !important;
    height: 374px !important;
    background-size: cover;
    background-image: url("img/rama4_out.svg");
    background-repeat: no-repeat;
    left: 0;
    bottom: 0;
    z-index: -100;
}

#rama5 {
    position: fixed;
    width: 285px !important;
    height: 180px !important;
    background-size: cover;
    background-image: url("img/rama5_out.svg");
    background-repeat: no-repeat;
    right: 0;
    bottom: 0;
    z-index: -100;
}

@media (max-width: 490px) {
    .wrapper {
        width: 100% !important;
        padding: 10px !important;
    }

    .informacion {
        border: 5px solid #ffffff !important;
        padding: 15px !important;
    }

    h1 {
        font-size: 50px !important;
    }

    h2 {
        font-size: 40px !important;
        margin-top: -25px !important;
    }

    h3 {
        font-size: 25px !important;
    }

    .carousel {
        width: 200px !important;
        height: 100px !important;
    }

    figure img {
        height: 200px !important;
    }

    .footer {
        margin-bottom: 300px !important;
    }
}

@media (max-width: 820px) and (min-width: 491px) {
    .wrapper {
        padding: 20px !important;
    }

    .informacion {
        padding: 50px !important;
    }

    h1 {
        font-size: 50px !important;
    }

    h2 {
        font-size: 40px !important;
        margin-top: -20px !important;
    }

    h3 {
        font-size: 25px !important;
    }

    .carousel {
        width: 200px !important;
        height: 100px !important;
    }

    figure img {
        height: 200px !important;
    }
}

.wrapper {
    position: relative;
    width: 90%;
    max-width: 900px;
    padding: 60px;
    background-color: #102c4e;
    background-image: url("img/patron.svg");
    background-size: 100%;
    background-repeat: repeat;
    z-index: 20 !important;
}

#rama_in_verde_1 {
    position: absolute;
    width: 56px;
    height: 133px;
    background-size: cover;
    background-image: url("img/rama_top_verde_1.svg");
    background-repeat: no-repeat;
    right: 0;
    top: 0;
    z-index: 20 !important;
}

#rama_azul_1 {
    position: absolute;
    width: 56px;
    height: 133px;
    background-size: cover;
    background-image: url("img/rama_azul_1.svg");
    background-repeat: no-repeat;
    left: 0;
    top: 3%;
    z-index: 20 !important;
}

#rama_azul_2 {
    position: absolute;
    width: 59px;
    height: 165px;
    background-size: cover;
    background-image: url("img/rama_azul_2.svg");
    background-repeat: no-repeat;
    left: 0;
    top: 30%;
}

#rama_azul_3 {
    position: absolute;
    width: 93px;
    height: 123px;
    background-size: cover;
    background-image: url("img/rama_azul_3.svg");
    background-repeat: no-repeat;
    right: 0;
    top: 80%;
}

#rama_azul_4 {
    position: absolute;
    width: 138px;
    height: 80px;
    background-size: cover;
    background-image: url("img/rama_azul_4.svg");
    background-repeat: no-repeat;
    right: 0;
    top: 0;
}

#hoja_azul_1 {
    position: absolute;
    width: 60px;
    height: 101px;
    background-size: cover;
    background-image: url("img/hoja_azul_1.svg");
    background-repeat: no-repeat;
    right: 0;
    top: 40%;
}

#hoja_azul_2 {
    position: absolute;
    width: 128px;
    height: 120px;
    background-size: cover;
    background-image: url("img/hoja_azul_2.svg");
    background-repeat: no-repeat;
    right: 0;
    bottom: 0;
}

#hoja_azul_3 {
    position: absolute;
    width: 70px;
    height: 92px;
    background-size: cover;
    background-image: url("img/hoja_azul_3.svg");
    background-repeat: no-repeat;
    right: 50%;
    bottom: 0;
}

#hoja_azul_4 {
    position: absolute;
    width: 71px;
    height: 70px;
    background-size: cover;
    background-image: url("img/hoja_azul_4.svg");
    background-repeat: no-repeat;
    left: 0;
    bottom: 0;
}

#rama_verde_1 {
    position: absolute;
    width: 86px;
    height: 49px;
    background-size: cover;
    background-image: url("img/rama_verde_1.svg");
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
}

#rama_verde_2 {
    position: absolute;
    width: 92px;
    height: 102px;
    background-size: cover;
    background-image: url("img/rama_verde_2.svg");
    background-repeat: no-repeat;
    bottom: 0;
    right: 30%;
}

#rama_verde_3 {
    position: absolute;
    width: 156px;
    height: 84px;
    background-size: cover;
    background-image: url("img/rama_verde_3.svg");
    background-repeat: no-repeat;
    bottom: 0;
    left: 20%;
}

#rama_azul_5 {
    position: absolute;
    width: 125px;
    height: 134px;
    background-size: cover;
    background-image: url("img/rama_azul_5.svg");
    background-repeat: no-repeat;
    bottom: 3%;
    left: 0;
}

#rama_verde_4 {
    position: absolute;
    width: 91px;
    height: 157px;
    background-size: cover;
    background-image: url("img/rama_verde_4.svg");
    background-repeat: no-repeat;
    bottom: 4%;
    left: 0;
}

#flor_rosada_1 {
    position: absolute;
    width: 74px;
    height: 103px;
    background-size: cover;
    background-image: url("img/flor_rosada_1.svg");
    background-repeat: no-repeat;
    bottom: 2%;
    left: 0;
}

#rama_azul_6 {
    position: absolute;
    width: 161px;
    height: 55px;
    background-size: cover;
    background-image: url("img/rama_azul_6.svg");
    background-repeat: no-repeat;
    top: 0;
    left: 0;
}

#rama_azul_7 {
    position: absolute;
    width: 61px;
    height: 137px;
    background-size: cover;
    background-image: url("img/rama_azul_7.svg");
    background-repeat: no-repeat;
    top: 10%;
    right: 0;
    z-index: -10 !important;
}

#hoja_verde_claro_1 {
    position: absolute;
    width: 32px;
    height: 99px;
    background-size: cover;
    background-image: url("img/hoja_verde_claro_1.svg");
    background-repeat: no-repeat;
    bottom: 20%;
    left: 0;
}

#rama_verde_5 {
    position: absolute;
    width: 72px;
    height: 128px;
    background-size: cover;
    background-image: url("img/rama_verde_5.svg");
    background-repeat: no-repeat;
    bottom: 0;
    left: 10%;
}

#flor_roja_1 {
    position: absolute;
    width: 57px;
    height: 53px;
    background-size: cover;
    background-image: url("img/flor_rosada_2.svg");
    background-repeat: no-repeat;
    bottom: 9%;
    left: 30px;
}

#flor_naranja_1 {
    position: absolute;
    width: 56px;
    height: 122px;
    background-size: cover;
    background-image: url("img/flor_naranja_1.svg");
    background-repeat: no-repeat;
    bottom: 10%;
    left: 0;
}

#rama_verde_6 {
    position: absolute;
    width: 57px;
    height: 125px;
    background-size: cover;
    background-image: url("img/rama_verde_6.svg");
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;
}


.informacion {
    border: 5px solid #ffffff;
    padding: 35px;
    z-index: 50px;
}

h1 {
    font-family: "Edosz", sans-serif;
    text-align: center;
    font-size: 70px;
    color: #07a594;
    text-shadow:
        1px 1px 1px #fff,
        -1px 1px 1px #fff,
        -1px -1px 0 #fff,
        1px -1px 0 #fff;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    font-family: "Edosz", sans-serif;
    font-size: 50px;
    color: #fec554;
    text-align: center;
    text-shadow:
        2px 2px 2px #000,
        -2px 2px 2px #000,
        -2px -2px 0 #000,
        2px -2px 0 #000;
}

h3 {
    font-family: "Brushtime", sans-serif;
    font-size: 40px;
    padding-top: 40px;
    color: #fec554;
    border-bottom: 2px dashed #fff;
    text-shadow:
        1px 1px 1px #000,
        -1px 1px 1px #000,
        -1px -1px 0 #000,
        1px -1px 0 #000;
}

h4 {
    background: #102c4e;
    padding: 10px;
    border: 1px dashed #fff;
    border-radius: 5px;
    color: #fff;
    margin-top: 10px;
}

.audio-container {
    margin: 20px 0;
    text-align: center;
}

.audio-container audio {
    width: 100%;
    max-width: 600px;
}

.text-invitacion {
    color: #fff;
    text-align: justify;
    font-family: sans-serif;
    font-size: 16px;
}

.separador {
    width: 60px !important;
    height: 100px !important;
    text-align: center;
}

.info-container {
    width: 100%;
}

.cards-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-info {
    width: 150px;
    height: 160px;
    text-align: center;
    align-items: center;
    border: 2px dotted #fff;
    padding: 12px;
    margin: 10px;
    background-color: rgba(9, 57, 92, 0.6);
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Matiz", sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-info p {
    margin: 0;
    padding: 0;
}

.card-info:hover {
    background-color: rgba(110, 151, 181, 0.2);
}

.icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.nav {
    border-radius: 10px;
    background: rgba(16, 44, 78, 0.5);
    border: 3px dashed rgba(255, 255, 255, 0.5);
    color: #fff;
}

.nav-item {
    padding: 10px;
    margin: 5px 10px;
    cursor: pointer;
}

.nav-item:hover {
    background: rgba(29, 80, 141, 1);
}

.nav-item:active {
    background: rgba(29, 80, 141, 1);
}

.icon-nav {
    width: 50px;
    height: 50px;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery img {
    width: 300px;
    height: 450px;
    border-radius: 10px;
}

.footer {
    margin-bottom: 200px;
}
