@font-face {
    font-family: "Moana";
    src: url("font/moanas.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Matiz";
    src: url("font/matiz.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #105284;
    width: 100%;
    height: 100%;
}

#rama1 {
    position: absolute;
    width: 240px !important;
    height: 246px !important;
    background-size: cover;
    background-image: url("img/rama1_out.svg");
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    z-index: 1;
}

#rama2 {
    position: absolute;
    width: 300px !important;
    height: 75px !important;
    background-size: cover;
    background-image: url("img/rama2_out.svg");
    background-repeat: no-repeat;
    right: 0px;
    top: 0;
    z-index: 1;
}

#rama3 {
    position: absolute;
    width: 100px !important;
    height: 200px !important;
    background-size: cover;
    background-image: url("img/rama3_out.svg");
    background-repeat: no-repeat;
    top: 100px;
    right: 0px;
    z-index: 100;
}

#rama4 {
    position: absolute;
    width: 198px !important;
    height: 374px !important;
    background-size: cover;
    background-image: url("img/rama4_out.svg");
    background-repeat: no-repeat;
    left: 0;
    bottom: 0;
    z-index: 100;
}

#rama5 {
    position: absolute;
    width: 285px !important;
    height: 180px !important;
    background-size: cover;
    background-image: url("img/rama5_out.svg");
    background-repeat: no-repeat;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.wrapper {
    margin: 0px auto;
    width: 90%;
    max-width: 950px;
    padding: 60px;
    background-color: #102c4e;
    background-image: url("img/patron.svg");
    background-size: 100%;
    background-repeat: repeat;
    z-index: 20;
}

.informacion {
    border: 10px solid #ffffff;
    padding: 100px;
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 30px !important;
    }

    h2 {
        font-size: 20px !important;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 60px !important;
    }

    h2 {
        font-size: 40px !important;
    }
}

h1 {
    font-family: "Matiz", sans-serif;
    text-align: center;
    font-size: 70px;
    color: #07a594;
    text-shadow:
        2px 2px 2px #fff,
        -2px 2px 2px #fff,
        -2px -2px 0 #fff,
        2px -2px 0 #fff;
}

h2 {
    font-family: "Matiz", sans-serif;
    font-size: 50px;
    color: #fec554;
    text-align: center;
    margin-top: -30px;
}

h3 {
    font-family: "Matiz", sans-serif;
    font-size: 35px;
    padding-top: 20px;
    color: #fec554;
}

.audio-container {
    margin: 20px 0;
    text-align: center;
}

.audio-container audio {
    width: 100%;
    max-width: 600px;
}

.info-container {
    width: 100%;
}

.cards-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-info {
    width: 200px;
    height: 150px;
    text-align: center;
    align-items: center;
    border: 2px dotted #fff;
    padding: 12px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    cursor: pointer;
}

.card-info:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.card-info {
    font-size: 25px;
    font-family: "Matiz", sans-serif;
    color: #fff;
}

.icon {
    width: 60px;
    height: 60px;
}

/*. galeria */
figure {
    margin: 0;
}

figure img {
    height: 400px;
}

.carousel {
    width: 100%;
    height: 410px !important;
}

#gallery {
    max-width: 900px;
    height: 400px;
    margin: 0 auto !important;
    overflow: hidden;
    position: absolute;
}

.gallery-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.gallery-item {
    min-width: 100%;
    box-sizing: border-box;
}

.gallery-item img {
    width: 100%;
    display: block;
}

/* Navegación de la galería */
.gallery-navigation {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40px);
    margin: 0 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.nav-button {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.nav-button > span {
    font-size: 30px;
}

.nav-button:hover {
    background-color: #0f3a90;
}

/*. tabs */
.order {
    display: grid;
    /* grid-template-columns: 1fr 1fr;*/
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #053885;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #fff !important;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #0850bd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #0850bd;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabimage {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
