@font-face {
    font-family: "Moana";
    src: url("font/moanas.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Matiz";
    src: url("font/matiz.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #105284;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#rama1 {
    position: absolute;
    width: 240px !important;
    height: 246px !important;
    background-size: cover;
    background-image: url("img/rama1_out.svg");
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    z-index: -100;
}

#rama2 {
    position: absolute;
    width: 300px !important;
    height: 75px !important;
    background-size: cover;
    background-image: url("img/rama2_out.svg");
    background-repeat: no-repeat;
    right: 0px;
    top: 0;
    z-index: -100;
}

#rama3 {
    position: absolute;
    width: 100px !important;
    height: 200px !important;
    background-size: cover;
    background-image: url("img/rama3_out.svg");
    background-repeat: no-repeat;
    top: 100px;
    right: 0px;
    z-index: -100;
}

#rama4 {
    position: fixed;
    width: 198px !important;
    height: 374px !important;
    background-size: cover;
    background-image: url("img/rama4_out.svg");
    background-repeat: no-repeat;
    left: 0;
    bottom: 0;
    z-index: -100;
}

#rama5 {
    position: fixed;
    width: 285px !important;
    height: 180px !important;
    background-size: cover;
    background-image: url("img/rama5_out.svg");
    background-repeat: no-repeat;
    right: 0;
    bottom: 0;
    z-index: -100;
}

@media (max-width: 600px) {
    .wrapper {
        padding: 20px !important;
    }

    .informacion {
        padding: 50px !important;
    }

    h1 {
        font-size: 50px !important;
    }

    h2 {
        font-size: 40px !important;
        margin-top: -20px !important;
    }

    h3 {
        font-size: 25px !important;
    }

    .carousel {
        width: 200px !important;
        height: 100px !important;
    }

    figure img {
        height: 200px !important;
    }
}

.wrapper {
    width: 90%;
    max-width: 950px;
    padding: 60px;
    background-color: #102c4e;
    background-image: url("img/patron.svg");
    background-size: 100%;
    background-repeat: repeat;
    z-index: 20 !important;
}

.informacion {
    border: 10px solid #ffffff;
    padding: 100px;
}

h1 {
    font-family: "Matiz", sans-serif;
    text-align: center;
    font-size: 70px;
    color: #07a594;
    text-shadow:
        2px 2px 2px #fff,
        -2px 2px 2px #fff,
        -2px -2px 0 #fff,
        2px -2px 0 #fff;
}

h2 {
    font-family: "Matiz", sans-serif;
    font-size: 50px;
    color: #fec554;
    text-align: center;
    margin-top: -30px;
}

h3 {
    font-family: "Matiz", sans-serif;
    font-size: 35px;
    padding-top: 40px;
    color: #fec554;
}

.audio-container {
    margin: 20px 0;
    text-align: center;
}

.audio-container audio {
    width: 100%;
    max-width: 600px;
}

.info-container {
    width: 100%;
}

.cards-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-info {
    width: 200px;
    height: 160px;
    text-align: center;
    align-items: center;
    border: 2px dotted #fff;
    padding: 12px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
    font-family: "Matiz", sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-info p {
    margin: 0;
    padding: 0;
}

.card-info:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.icon {
    width: 60px;
    height: 60px;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery img {
    width: 300px;
    height: 450px;
    border-radius: 10px;
}
